.App {
  text-align: center;
}
.ui.main.container{
  margin-top: 60px;
}
.header{
  white-space: nowrap;
  overflow: hidden;
}
.currentCategory{
  background-color: #3498db !important;
  color: #fafafa !important;
}
