.App {
    text-align: center;
}

.ui.main.container {
    margin-top: 60px;
}

.header {
    white-space: nowrap;
    overflow: hidden;
}

.currentCategory {
    background-color: #6c5ce7 !important;
    color: #fafafa !important;
}

.ui.button:hover {
    background-color: #028B70FF !important;
}

